
   h2
     {
      color:#43AA64;
      font-family:verdana;
     }
     body {
      background-color: lightblue;
          }

     .btn
        {
          background-color:#AF0CAB;
          border: none;
          padding: 10px;
          color: #ffffff;

        }
      .btn:hover
      {
         background-color: #000;
      }
      .btn1
      {
        background-color:#AF0CAB;
        border: none;
        padding: 10px;
        color: #ffffff;

      }
    .btn1:hover
    {
       background-color: #000;
    }